.card.draggable {
    margin-bottom: 1rem;
    cursor: grab;
}

.droppable {
    background-color: lightskyblue;
    min-height: 120px;
    margin-bottom: 1rem;
    opacity: 0.1;
    outline-style: dotted;
}
.lightBlue{
    color: cornflowerblue
}
/* .dropzone{background-color:red} */
#idCollection{display:none}

.font-12{font-size:12px}
.font-14{font-size:14px}
