body, html {
    height: 100%;
    margin: 0;
    font-family: "apercu",sans-serif;
    overflow: hidden;
}
.bg {
    background-image: url("../src/img/bg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    background-color: black;
    height: 100%;
    opacity: .8;
}
.title-wrapper {
    text-align: center;
    position: absolute;
    top: 40%;
    padding-bottom:20px;
    color: white;
    font-size: 4em;
    font-weight: 800;
    border:1px solid white;
    width:550px;
    left:calc(50% - 275px);
}
.author{
    font-size:14px !important;
    margin-top:-22px;
    width: calc(56% + 85px);
    text-align: right;
}
